
.chatbox {
     height:  calc(100vh - 76px);
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('/nt.jpg');
}
.chat_input {
     border-radius: 10px;
}

@media screen and (max-width:981px) {
     .chat_input {
          width: 90%;
     }
}

@media screen and (max-width:768px) {
     .chatbox {
          font-size: .8rem;
          

     }
     .chat {
          padding: 10px;
     }
     .chat_input {
          width: 95%;
          font-size: .8rem;
         
     }
     .chat_input  input{
          width: 52%;
          padding: 16px;
     }
     .chat_input button {
          width: 12%;
          padding: 16px;
     }
     .chat_input .sendBtn {
          width: 36%;
     }
     .chat_input .sendBtn  button {
          width: 33%;
     }

     .nouserBox img {
          height: 200px;
          width: 200px;
     }
     .nouserBox h1 {
          font-size: 1rem;
     }
     .wrapper_input {
          margin-bottom: 0;
     }
}

@media screen and (max-width:500px){
 
     .chatbox {
          display: none;
     }



}



